<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}QUESTION 7!!!!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        <header class="nav bg-info mb-3 flex-align-center">
        {# Start left side #}
        {% set liclass = "nav-item" %}{% set aclass = "nav-link" %}
            {{ include('_header_left.html.twig') }}
        {# End left side #}
        {# Start right side #}
            {{ include('_header_right.html.twig') }}
        {# End right side #}

        </header>

        <main>
            <div data-controller="modal-loader" class="d-flex justify-between">
                <div class="container">
                {{ include('_flash.html.twig') }}
                    {% block body %}{% endblock %}
                </div>
                <dialog data-modal-loader-target="dialog"
                    class="shadow"
                    data-action="close->modal-loader#close"
                    >
                    <!-- contenido AJAX -->
                </dialog>
            </div>
        </main>


        <footer>


        </footer>
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

     </body>
</html>
